.place-info{
  background-color: lightgray;
}

.hr-change{
  margin: 12px;
}

.placename {
  cursor: pointer;
  color: #0088cc;
}

.placename:hover {
  text-decoration: underline;
}

img{
  width: 100%;
}
